/*
#container1 {
    display: flex;
    flex-direction: row;
    color: black;
    
    width: fit-content;
   
}

.innerbox{
    border-color: black;
    border: 2px; 
}

#currencies {
    border: 2px black;
    border-radius: 5px;
    background-color: darkcyan;
}


#baseButtonArea {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#baseButton {
    height: 30px;
    width: 200px;
}

#targets {
    height: 25px;
    width: 10px; 
}

#values {
    border: 2px black;
    border-radius: 5px;
    background-color: darkcyan; 
}

#verticalContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 600px;
}

.makeSomeMargin{
    margin-top: 10px;
    margin-bottom: 10px;
}
*/
.btn-outline-primary {
color: #152935 !important;
background-color: transparent;
background-image: none;
border-color: #152935 !important
}

.btn-outline-primary:hover {
color: #152935 !important;
background-color: #e4a576 !important;
background-image: none;
border-color: #152935 !important
}

div.horizontal-line{
    
    width: 100px;
  
    float: left; 
    border: 1px inset;
    background-color: #eeeeee;
    margin-left: 10px;
    }

.btn-outline-secondary{
color: #152935 !important;
background-color: transparent;
background-image: none;
border-color: #152935 !important;
margin-bottom: 10px !important
};

.btn-outline-secondary:hover{
    color: #152935 !important;
    background-color:  #e4a576 !important;
    background-image: none;
    border-color: #152935 !important;
    margin-bottom: 10px !important
    };

.shadow p-3 mb-5 bg-white rounded {
    background-color: #152935 !important
};

.btn-outline-secondary-drop{
    color: #152935 !important;
    background-color: transparent;
    background-image: none;
    border-color: #152935 !important;
    margin-bottom: 10px !important
    };